/* ---- Shared ---- */

body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
    width: 90px;
    background-color: #ffffff;
    border-color: #B7B7B7;
}

button:hover {
    background-color: #cbcbce;
}

button.selected {
    color: white;
    background-color: #007bff;
}

button.selected:hover {
    background-color: #3194FF;
}

button.blue {
    border-color: #007bff;
    color: #007bff;
}

button.x {
    padding: 5px;
    border: none;
    width: auto;
    position: absolute;
    top: 5px;
    right: 5px;
}

canvas {
    cursor: crosshair;
}

canvas:active {
    cursor: grabbing;
}

.hidden {
    display: none;
}

#display {
    height: calc(100vh - 48px);
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#display>div {
    overflow: hidden;
}

#display.main {
    /* Style for layout */
    --pcb-edge-color: black;
    --pad-color: #878787;
    /* --pad-color-highlight: #d04040; */
    --pad-color-highlight: #007bff;
    --pin1-outline-color: #ffb629;
    --pin1-outline-color-highlight: #b4ff03;
    --silkscreen-edge-color: #aa4;
    --silkscreen-polygon-color: #4aa;
    --silkscreen-text-color: rgba(0, 0, 0, 0);
    --fabrication-edge-color: #907651;
    --fabrication-polygon-color: #907651;
    --fabrication-text-color: #a27c24;
    --track-color: #def5f1;
    /* --track-color-highlight: #d04040; */
    --track-color-highlight: #007bff;
    --zone-color: #def5f1;
    --zone-color-highlight: #d0404080;
    /* Style for schematic */
    /* --schematic-highlight-fill-color: rgba(208, 64, 64, 0.25); */
    --schematic-highlight-fill-color: rgba(0, 123, 255, 0.25);
    /* --schematic-highlight-line-color: rgba(208, 64, 64, 1); */
    --schematic-highlight-line-color: rgba(0, 123, 255, 1);
}

#display.mobile {
    /* Div Style */
    height: 100vh;
    background-color: #f4f4f4;
    /* Style for layout */
    --pcb-edge-color: black;
    --pad-color: black;
    --pad-color-highlight: #d04040;
    /* --pad-color-highlight: #007bff; */
    --pin1-outline-color: black;
    --pin1-outline-color-highlight: black;
    --silkscreen-edge-color: black;
    --silkscreen-polygon-color: black;
    --silkscreen-text-color: rgba(0, 0, 0, 0);
    --fabrication-edge-color: black;
    --fabrication-polygon-color: black;
    --fabrication-text-color: black;
    --track-color: black;
    --track-color-highlight: #d04040;
    /* --track-color-highlight: #007bff; */
    --zone-color: black;
    --zone-color-highlight: black;
    /* Style for board */
    --board-highlight-fill-color: rgba(208, 64, 64, 0.7);
    /* --board-highlight-fill-color: rgba(0, 123, 255, 0.7); */
    --board-highlight-line-color: rgba(208, 64, 64, 0.7);
    /* --board-highlight-line-color: rgba(0, 123, 255, 0.7); */
    --board-highlight-line-width: 2;
    --board-highlight-circle-radius: 20;
}

#display.projector {
    height: 100vh;
    background-color: black;
    --pad-color-highlight: white;
    --track-color-highlight: white;
    --zone-color-highlight: white;
    --board-highlight-fill-color: white;
    --board-highlight-line-color: white;
    --board-highlight-line-width: 0.5;
    --pcb-edge-color: white;
}
#display.projector > #layout-div {
    width: 100%;
}
#display.projector canvas {
    cursor: none;
}

/* ---- mobile.html ---- */

#display>#mobile-canvas {
    overflow: auto;
}

#mobile-canvas {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 6in;
    /* experimental */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mobile-canvas canvas {
    position: absolute;
    height: 100%;
    /* on a horizontal phone this is the limiting factor we want */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#board-bg {
    z-index: 1;
}

#board-hl {
    z-index: 2;
}

.annotation {
    font-weight: bold;
    font-size: 18pt;
    position: absolute;
    /* top: 250px; */
    bottom: 0;
    right: 0;
    /* border: 3px solid #d6d6d9; */
    /* background-color: #f4f4f4; */
    color: rgba(208, 64, 64, 0.7);
    /* color: rgba(0, 123, 255, 0.7); */
    box-sizing: border-box;
    padding: 6px;
    z-index: 30;
    pointer-events: none;
}

/* ---- main.html ----- */

#layout-div>div {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

#layout-div canvas {
    position: absolute;
    top: 0;
    left: 0;
}

div#schematiccanvas {
    position: relative;
    width: 100%;
    height: 100%;
}

div#schematiccanvas canvas {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#schematic-div.split div#schematiccanvas canvas {
    top: 50%;
    transform: translateY(-50%);
}

#swap-icon {
    position: absolute;
    right: 20px;
    top: 56px;
    z-index: 20;
}

#swap-icon img {
    width: 40px;
}

#menubar {
    height: 48px;
    width: 100%;
    border-bottom: 3px solid #d6d6d9;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#menubar h2 {
    margin: 0 0 0 20px;
    padding: 0;
}

#menubar #menubuttons {
    position: absolute;
    right: 16px;
}

#menubar #testmode {
    position: absolute;
    right: 16px;
    font-weight: bold;
}

#menubar #testmode #teststatus {
    width: 70px;
    display: inline-block;
}

#settings-menu {
    position: absolute;
    right: 0;
    top: 0;
}
#settings-menu:hover #settings-content {
    display: block;
}
#settings-menu:hover #settings-btn {
    background-color: #eee;
}
#settings-btn {
    background-color: white;
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 20 20'%3E%3Cpath fill='none' d='M0 0h20v20H0V0z'/%3E%3Cpath d='M15.95 10.78c.03-.25.05-.51.05-.78s-.02-.53-.06-.78l1.69-1.32c.15-.12.19-.34.1-.51l-1.6-2.77c-.1-.18-.31-.24-.49-.18l-1.99.8c-.42-.32-.86-.58-1.35-.78L12 2.34c-.03-.2-.2-.34-.4-.34H8.4c-.2 0-.36.14-.39.34l-.3 2.12c-.49.2-.94.47-1.35.78l-1.99-.8c-.18-.07-.39 0-.49.18l-1.6 2.77c-.1.18-.06.39.1.51l1.69 1.32c-.04.25-.07.52-.07.78s.02.53.06.78L2.37 12.1c-.15.12-.19.34-.1.51l1.6 2.77c.1.18.31.24.49.18l1.99-.8c.42.32.86.58 1.35.78l.3 2.12c.04.2.2.34.4.34h3.2c.2 0 .37-.14.39-.34l.3-2.12c.49-.2.94-.47 1.35-.78l1.99.8c.18.07.39 0 .49-.18l1.6-2.77c.1-.18.06-.39-.1-.51l-1.67-1.32zM10 13c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3z'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
}
#settings-content {
    display: none;
    position: absolute;
    right: 0;
    top: 44px;
    min-width: 300px;
    height: auto;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 16px;
}
.menu-row {
    margin: 8px;
    padding: 8px;
    border: 1px solid #ccc;
}
.menu-row button {
    font-size: inherit;
}
#projectorscale {
    width: 100%;
    margin-top: 10px;
}

#schematic-info {
    position: absolute;
}
#sch-info-name {
    font-weight: bold;
}
#sch-info-anno {

}

#multi-click-menu {
    position: absolute;
    z-index: 50;
    border: 2px solid #007bff;
    border-radius: 4px;
    background: white;

}
#multi-click-menu div {
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 3px;
}

#right-click-menu {
    position: absolute;
    z-index: 50;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: white;
    padding: 10px;
    min-width: 150px;
}
#right-click-name {
    margin-bottom: 10px;
    /* font-weight: bold;
    font-size: 14pt; */
}
#right-click-dropdown {
    position: relative;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10pt;
}
#right-click-dropdown img {
    width: 16px;
    float: right;
}
#right-click-dropdown>ul {
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0;
    width: 100%;
    background: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    list-style-type: none;
}
#right-click-dropdown>ul input[type=text] {
    width: 100%;
    box-sizing: border-box;
}

/* View Modes */

/*  .full  = fullscreen
    .split = side-by-side
    .peek  = peek-by-inset
    .mobile .peek = mobile with layout mode  */

div.split {
    width: 50%;
    height: 100%;
}

#schematic-div.split {
    border-right: 3px solid #d6d6d9;
}

div.fullscreen {
    width: 100%;
    height: 100%;
}

#layout-div.peek {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 3px solid #d6d6d9;
    box-sizing: border-box;
    z-index: 5;
}

.mobile #layout-div.peek {
    right: auto;
    left: auto;
    border: none;
}

#debug-panel {
    min-width: 200px;
    height: 100%;
    border-left: 3px solid #d6d6d9;
    position: relative;
    padding: 0 16px;
}

#debug-panel-start {

}

/* ---- index.html ---- */

#index {
    font-family: Arial, Helvetica, sans-serif;
}

#settings {
    margin-left: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-container button {
    margin: 10px;
    /* width: 170px; */
    border-radius: 4px;
}

#action-btn-td {
    display: table-cell;
}
