/* ---- Shared ---- */

body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

button {
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
    width: 90px;
    background-color: #ffffff;
    border-color: #B7B7B7;
}

button:hover {
    background-color: #cbcbce;
}

button.selected {
    color: white;
    background-color: #007bff;
}

button.selected:hover {
    background-color: #3194FF;
}

canvas {
    cursor: crosshair;
}

canvas:active {
    cursor: grabbing;
}

.hidden {
    display: none;
}

#display {
    height: calc(100vh - 40px);
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#display>div {
    overflow: hidden;
}

#display.main {
    /* Style for layout */
    --pcb-edge-color: black;
    --pad-color: #878787;
    /* --pad-color-highlight: #d04040; */
    --pad-color-highlight: #007bff;
    --pin1-outline-color: #ffb629;
    --pin1-outline-color-highlight: #b4ff03;
    --silkscreen-edge-color: #aa4;
    --silkscreen-polygon-color: #4aa;
    --silkscreen-text-color: rgba(0, 0, 0, 0);
    --fabrication-edge-color: #907651;
    --fabrication-polygon-color: #907651;
    --fabrication-text-color: #a27c24;
    --track-color: #def5f1;
    /* --track-color-highlight: #d04040; */
    --track-color-highlight: #007bff;
    --zone-color: #def5f1;
    --zone-color-highlight: #d0404080;

    /* Style for schematic */
    /* --schematic-highlight-fill-color: rgba(208, 64, 64, 0.25); */
    --schematic-highlight-fill-color: rgba(0, 123, 255, 0.25);
    /* --schematic-highlight-line-color: rgba(208, 64, 64, 1); */
    --schematic-highlight-line-color: rgba(0, 123, 255, 1);
}

#display.mobile {
    /* Div Style */
    height: 100vh;

    /* Style for layout */
    --pcb-edge-color: black;
    --pad-color: black;
    --pad-color-highlight: #d04040;
    /* --pad-color-highlight: #007bff; */
    --pin1-outline-color: black;
    --pin1-outline-color-highlight: black;
    --silkscreen-edge-color: black;
    --silkscreen-polygon-color: black;
    --silkscreen-text-color: rgba(0, 0, 0, 0);
    --fabrication-edge-color: black;
    --fabrication-polygon-color: black;
    --fabrication-text-color: black;
    --track-color: black;
    --track-color-highlight: #d04040;
    /* --track-color-highlight: #007bff; */
    --zone-color: black;
    --zone-color-highlight: black;

    /* Style for board */
    --board-highlight-fill-color: rgba(208, 64, 64, 0.7);
    /* --board-highlight-fill-color: rgba(0, 123, 255, 0.7); */
    --board-highlight-line-color: rgba(208, 64, 64, 0.7);
    /* --board-highlight-line-color: rgba(0, 123, 255, 0.7); */
    --board-highlight-line-width: 2;
    --board-highlight-circle-radius: 20;
}


/* ---- mobile.html ---- */

#display>#mobile-canvas {
    overflow: auto;
}

#mobile-canvas {
    position: relative;
    height: 100%;
    width: 100%;
}

#mobile-canvas canvas {
    position: absolute;
    height: 100%;  /* on a horizontal phone this is the limiting factor we want */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#board-bg {
    z-index: 1;
}

#board-hl {
    z-index: 2;
}

.annotation {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    position: absolute;
    /* top: 250px; */
    bottom: 0;
    right: 0;
    /* border: 3px solid #d6d6d9; */
    /* background-color: #f4f4f4; */
    color: rgba(208, 64, 64, 0.7);
    /* color: rgba(0, 123, 255, 0.7); */
    box-sizing: border-box;
    padding: 6px;
    z-index: 30;
    pointer-events: none;
}

/* ---- main.html ----- */

#layout-div>div {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

#layout-div canvas {
    position: absolute;
    top: 0;
    left: 0;
}

div#schematiccanvas {
    position: relative;
    width: 100%;
    height: 100%;
}

div#schematiccanvas canvas {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#schematic-div.split div#schematiccanvas canvas {
    top: 50%;
    transform: translateY(-50%);
}

#swap-icon {
    position: absolute;
    right: 20px;
    top: 56px;
    z-index: 20;
}

#swap-icon img {
    width: 40px;
}

#menubar {
    height: 40px;
    width: 100%;
    border-bottom: 3px solid #d6d6d9;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#menubar h2 {
    margin: 0 0 0 20px;
    padding: 0;
}

#menubar #menubuttons {
    position: absolute;
    right: 16px;
}

#menubar #testmode {
    position: absolute;
    right: 16px;
    font-weight: bold;
}

#menubar #testmode #teststatus {
    width: 70px;
    display: inline-block;
}

/* View Modes */
/*  .full  = fullscreen
    .split = side-by-side
    .peek  = peek-by-inset
    .mobile .peek = mobile with layout mode  */

div.split {
    width: 50%;
    height: 100%;
}

#schematic-div.split {
    border-right: 3px solid #d6d6d9;
}

div.fullscreen {
    width: 100%;
    height: 100%;
}

#layout-div.peek {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 3px solid #d6d6d9;
    box-sizing: border-box;
    z-index: 5;
}

.mobile #layout-div.peek {
    right: auto;
    left: auto;
    border: none;
}


/* ---- index.html ---- */

#index {
    font-family: Arial, Helvetica, sans-serif;
}

#settings {
    margin-left: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-container button {
    margin: 10px;
    width: 170px;
    border-radius: 4px;
}
